.current-time {
  margin: 1rem;
}

button {
  border: none;
  color: white;
  background-color: dodgerblue;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  margin: 0.5rem 1rem;
}

a {
  display: inline-block;
  background-color: plum;
  padding: 1rem;
  margin: 0.5rem 1rem;
  color: black;
  text-decoration: none;
}
